#docs-app {
  font-family: "Open Sans", "Titillium Web", sans-serif !important;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav a {
  color: #454645 !important;
  font-family: "Open Sans", "Titillium Web", sans-serif !important;
  font-weight: bold !important;
  font-style: normal;
  font-variation-settings:
    "width" 400 !important;
}

p {
    margin-bottom: 0px !important;
}

#docs-site-header {
  background-image: url("./img/header.png");
  background-position: top -4px right 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d5dbd5e1;
  height: 120px;
}

.infos {
  text-align: left;
  border-radius: 10px;
  background-color: #ebebeb;
  border: 1px solid #8b8b8b;
  padding-top: 20px;
  margin-bottom: 20px;
}